<html>

<head>

    <title>Simple Authentication Sample</title>

</head>

<body>

   


    <!-- Login button -->

    <button onclick="loginV1()">Login to Azure AD</button>

    



    <!-- Result -->

    <p>

        <div id="divError" style="display: none"></div>

        <div id="divProfile" style="display: none">

            <div><b>Name:</b> <span id="profileDisplayName" /></div>


            <div><b>E-mail:</b> <span id="profileMail" /></div>

            <div><b>UPN:</b> <span id="profileUpn" /></div>

            

        </div>

    </p>



    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>

    <script src="@(" https://unpkg.com/@microsoft/teams-js@1.4.2/dist/MicrosoftTeams.min.js")"></script>

    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js" integrity="sha384-BIOS/65fbAsb2XiCCSTlZSTTl0ZgqkOU522dpyk5meOnN2EOQ3uH+QpqEtoAtmBn" crossorigin="anonymous"></script>



    <script type="text/javascript">

        microsoftTeams.initialize();



        // Login to Azure AD and get access to Microsoft Graph

        function login(url) {

            hideProfileAndError();



            microsoftTeams.authentication.authenticate({

                url: url,

                width: 600,

                height: 535,

                successCallback: function (result) {

                    console.log("Login succeeded: " + result);



                    let data = localStorage.getItem(result);

                    localStorage.removeItem(result);



                    let tokenResult = JSON.parse(data);

                    getUserProfile(tokenResult.accessToken);

                },

                failureCallback: function (reason) {

                    console.log("Login failed: " + reason);

                    handleAuthError(reason);

                }

            });

        }



        function loginV1() {

            login(window.location.origin + "/simplestart");

        }



        function loginV2() {

            login(window.location.origin + "/tab/simple-start-v2");

        }



        // Get the user's profile information from Microsoft Graph

        function getUserProfile(accessToken) {
           
            $.ajax({

                url: "https://graph.microsoft.com/v1.0/me/",

                beforeSend: function (request) {

                    request.setRequestHeader("Authorization", "Bearer " + accessToken);

                },

                success: function (profile) {

                    $("#profileDisplayName").text(profile.displayName);

                    $("#profileJobTitle").text(profile.jobTitle);

                    $("#profileMail").text(profile.mail);

                    $("#profileUpn").text(profile.userPrincipalName);

                    $("#profileObjectId").text(profile.id);

                    $("#divProfile").css({ display: "" });

                    $("#divError").css({ display: "none" });

                },

                error: function (xhr, textStatus, errorThrown) {

                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);

                    $("#divError").text(errorThrown).css({ display: "" });

                    $("#divProfile").css({ display: "none" });

                },

            });

        }



        // Show error information

        function handleAuthError(reason) {

            $("#divError").text(reason).css({ display: "" });

            $("#divProfile").css({ display: "none" });

        }



        // Clear all information in tab

        function hideProfileAndError() {

            $("#divError").text("").css({ display: "none" });

            $("#divProfile").css({ display: "none" });

        }

    </script>

</body>

</html>